<h1><%= @task.name %></h1>
<h2><%= @task.id%></h2>

<p>Description</p>

<p><%= @task.description %></p>

<td><%= link_to 'Edit', edit_category_task_path(@category, @task) %></td>

<td><%= link_to 'Back', category_path(@category.id) %></td>